body{
    background-attachment: fixed;
    background: url('https://img.freepik.com/vector-gratis/vector-fondo-abstracto-flor-memphis-linea-arte_53876-154332.jpg?w=1380&t=st=1681732398~exp=1681732998~hmac=e63a6f9a48a9bf18cfbb3aba623026ace7eaa23a7d9afca66808223822c847eb'); 
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
   
    font-family: confor;
}



@font-face{
  font-family:School_year;
  src: url(/school_year/SchoolYear.ttf);
}

.tituloa{
  text-align: center;
  color: aliceblue;
  font-family:School_year;
  font-size: 500%
}

@font-face{
  font-family:Alice_Smile;
  src: url(/alice_smile/AliceSmile.ttf);
}

.titulob{
  text-align: center;
  color: aliceblue;
  margin-top: 5rem !important;
  font-family:Alice_Smile;
  font-size: 500%
}

@font-face{
  font-family:cursiva;
  src: url(/anteri_signature/AnteriSignature_PERSONAL_USE_ONLY.otf);
}

.tituloc{
  text-align: center;
  margin-top: 1rem !important;
  font-family:cursiva;
  font-size: 500%
}

@font-face{
  font-family:kong;
  src: url(/singkong/Singkong.ttf);
}

.texto{
  font-family: kong;
  font-size: 150%;
}

.descripDePag{
  margin: 2rem;
}

.cuadro{
  word-wrap: break-word;
  border-style:dashed;
  background-color: rgba(255, 255, 255, 0.404);
  margin: 1rem;
}

.cuadrodepeliculas{
  word-wrap: break-word;
  border-style:double;
  background-color: rgba(255, 255, 255, 0.404);
  margin: 1rem;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}


.corrected {
  margin: 15px;
}

.donete {
  background-size: auto;
  background-repeat: no-repeat;
  width: max-content;
  text-decoration: line-through;
}

.colorbotton{
  background-color: black;
  color: aliceblue;
}